@model DateTime

<h4>
    <a asp-route-mes="@ViewBag.mesAnterior"
       asp-route-anio="@ViewBag.anioAnterior"
       class="btn btn-primary">icono a la izquierda</a>

    @Model.ToString("MMM")-@Model.Year

    <a asp-route-mes="@ViewBag.mesSiguiente"
       asp-route-anio="@ViewBag.anioSiguiente"
       class="btn btn-primary">icono a la derecha</a>

</h4>